singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "$baseDir/singularity_img/"

process {
    withName:ieQTL_mapping {
        //container = '/groups/umcg-fg/tmp01/projects/eqtlgen-phase2/output/2023-03-16-sex-specific-analyses/test_nextflow/ieQTL_nextflow_pipeline/limixAug23.simg'
         //container= 'limixAug23.simg'
        container = '/groups/umcg-fg/tmp01/projects/eqtlgen-phase2/output/2023-03-16-sex-specific-analyses/test_nextflow/ieQTL_nextflow_pipeline/singularity_img/limixAug23.simg'
    }
}
